---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts")).slice(0, 6);
---
<BaseLayout title="Nerd Digno">
  <main>
    {posts.map(post => (
      <article class="card">
        <img src={post.data.image} />
        <h2>{post.data.title}</h2>
        <p>{post.data.description}</p>
        <a href={`/${post.data.category}/${post.slug}`}>Ver mais</a>
      </article>
    ))}
  </main>
</BaseLayout>